{% extends './base.html' %}

{% block title %}Inicio{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/boletita.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid titulo">
        <h1 class="texto">{{ session['cliente']['nombre'] }}. Espero que hayas disfrutado tu comida. <br> Te presentamos el resumen de tu pedido!</h1>
        <h2 class="texto">Gracias por realizar tu compra!</h2>
    </div>

    <div class="container">
        <div class="table-responsive">

        {% if 'pedido' in session %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio Unit.</th>
                        <th class="text-center">Precio</th>
                    </tr>
                </thead>
                <tbody>
            {% for key, val in session['pedido'].items() %}
                {% set cantidad = session['pedido'][key]['cantidad'] %}
                {% set precio = session['pedido'][key]['precio'] %}
                {% set item_precio = session['pedido'][key]['total_precio'] %} 
                    <tr>
                        <td>
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/img/{{ session['pedido'][key]['imagen'] }}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body" style="padding-left:10px;">
                                    <h4 class="media-heading">{{ session['pedido'][key]['nombre'] }}</h4>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><strong>{{ cantidad }} </strong></td>
                        <td class="text-center"><strong>${{ precio }} </strong></td>
                        <td class="text-center"><strong>${{ item_precio }} </strong></td>
                    </tr>
    {% endfor %}
                    <tr>
                        <td colspan="3">
                            <h5>Cantidad Total</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>{{ session['cantidad_pedido_completa'] }}</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h3>Total Neto</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>$ {{ session['precio_pedido_completo'] }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h3>IVA</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>$ {{ session['iva_pedido_completo'] }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Total</h3>
                        </td>
                        <td colspan="2" class="text-right">
                            <h3><strong>$ {{ session['total_pedido'] }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="holi" colspan="4">
                            <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-primary">SALIR</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  {% endif %}

{% endblock %}
{% block footer %}
{% endblock %}