{% extends './base.html' %}

{% block title %}cliente{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cliente.css') }}">
{% endblock %}

{% block body %}
<form class="form-signin" action="/inicio_pedido" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/logobg.png') }}" alt="" width="200" height="200">

    <h1 class="h3 mb-3 fw-normal title">Ingresa tus datos</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-floating">
        <input type="text" class="form-control" id="rut_cliente" name="rut_cliente" placeholder="RUT CLIENTE" required>
        <label for="rut_cliente">RUT CLIENTE</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" class="form-control" name="nombre_cliente" placeholder="NOMBRE CLIENTE" required>
        <label for="nombre_cliente">NOMBRE CLIENTE</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" class="form-control" name="apellido_cliente" placeholder="APELLIDO CLIENTE" required> 
        <label for="apellido_cliente">APELLIDO CLIENTE</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" class="form-control" name="direccion_cliente" placeholder="DIRECCION CLIENTE" required>
        <label for="direccion_cliente">DIRECCION CLIENTE</label>
    </div>
    <div class="form-floating mt-2">
        <input type="text" class="form-control" name="telefono_cliente" placeholder="TELEFONO CLIENTE" required>
        <label for="telefono_cliente">TELEFONO CLIENTE</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
</form>
{% endblock %}