body{
    background-color: black;
    height: 100%;
    width: 100%;
}


.btn{
    background-color: red;
    border-color: red;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.holi .btn:hover{
    background-color: #fff;
    color:black;
    border-color: #fff;
}

.titulo{
    background-color: black;
}

.texto{
    padding: 20px;
    color:#FFF;
}

.table {
    margin-top: 10px;
    border: 1px solid #FFF;
}

thead{
    color: #FFF;
}

td{
    color: #FFF;
}

.media{
    display: flex;
    align-items: center;
}

.media-heading{
    font-size: 1.2vmax;
}

.btn-eliminar{
    width: 30px;
    height: 30px;
}